body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}
.singlestaffcard{
    width: 200px;

}
#navBar {
    /*display: flex;
    flex-direction: row;
    background-color: #636364;
    margin: 0px 5%;*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: #000000;
  
  }
  
  #navigation {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
  }
  #navigation li {
    display: inline-block;
    padding: 0px 20px;
  }
  #navigation li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
}

  #navigation li a:hover {
    color: #329DBF;
  }
  .logo {
    cursor: pointer;
    margin-right: auto;
  }

  li, a {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #000000;
  }
  a {
    /* transition: all .5s; */
    text-decoration: none;
    color: white;
}

  .nav__links {
    list-style: none;
    background-color: #000000;
  }
  .nav__links li {
    display: inline-block;
    padding: 0px 20px;
  }
  .nav__links li a {
    transition: all 0.3s ease 0s;
  }
  .nav__links li a:hover {
    color: #329DBF;
  }
  .search {
    display: flex;
    cursor: pointer;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    
  
  }
  .search:hover {
    content: url('../images/TFDP\ Nav\ Elements/search_green.svg');
  }
  
  #donateBox {
    font-family: "Open Sans", sans-serif;
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
    width: 80px;
    height: 40px;
    background-color: rgba(50, 157, 191, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /*transition: all 0.3s ease 0s;*/
  }
  #donateBox:hover {
    background: linear-gradient(180deg, #2F80ED 0%, #329DBF 81.77%);
    /*background-color: rgba(50, 157, 191, 0.8);*/
  }
  .donate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.attorneycontainer{
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    border: 1px solid lightgray
}

.attorneyimg{
  width: 50%;
  height: 50%;
}
.attorneyimg img{
    height: 70vh;
    width: 100%;
}

.attorneyinfo{
    width: 50%;
    padding: 20px;
    position: relative;
}
a{ 
    transition:  all .5s;
    text-decoration: none;
    color: black;
}

.img{
    width: 100%; 
    transition: all .5s;
}


section{
    padding: 70px 0;
    margin-top: 50px;
    background: darkgray(116, 185, 2,0.09);
    text-align: center;
}

header{
      width: 50%;
      margin: 0vw;
    background-color: black;
  
}
.hoverMe {
    grid-area: hover;
    display: inline-block;
    background-color: rgb(5, 188, 212);
    color: white;
    width: 100px;
    text-align: center;
    height: 50px;
    transition: 0.3s;
    border-radius: 30px;
    transition: all .5s;
    margin-bottom: 15px;
  }

  .attorney-botton{
    grid-area: hover;
    display: inline-block;
    background-color: rgb(5, 188, 212);
    color: white;
    width: 100px;
    text-align: center;
    height: 50px;
    transition: 0.3s;
    border-radius: 30px;
    transition: all .5s;
    margin-bottom: 15px;
    position: absolute;
    bottom: 0;
    right: 5%;
  }


header h1{
    margin: 0;
    font-size: 48px;
    font-weight: 500;
    color: white;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.attorney-p{
    margin-bottom: 20%;
}


section{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    margin:  0 15px;
}

.singleattorneycard{
    height: 100%;
    box-sizing: border-box;
    box-shadow: 0 2px 10px #ccc;
    transition: all .5s;
}

.singlestaffcard{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 10px #ccc;
    transition: all .5s;
}
.attorneycontent h4{
    font-size: 18px;
    font-weight: 500;
    float: right;

}
.cardcontent h4 span{
    display: block;
    font-size: 60%;
    margin-top: 0;
    font-weight: 600;
}

.flexbox-container{
  color: white;
  background-color: black;
  display:flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  height:600px;
  
}


.flexbox-item{
  width: 200px;
  margin:10px;
  border:3px solid black;
      list-style: none;
      
  
}

.flexbox-item-1{
  min-height: 200px;
  font-size: 30px;
  padding-top:0px;
  width: 300px;
  
  
}
.flexbox-item-2{
  min-height:100px;
  align-self: flex-end;
  font-size: 12px;
  width: 300px;
  align-content: center;
}
.flexbox-item-3{
  padding-top: 0px;
  min-height: 200px;
  font-size: 18px;
  width:500px;
}
 

  @media only screen and (max-width: 1000px) {
    #navigation {
      display: none;
    }
    .icons {
      margin-left: auto;
    }
  }




@media (max-width:992px) {
    .grid-container{
        grid-template-columns: 1fr 1fr ;
       
    }
   
}
@media (max-width:767px) {
   
    .grid-container{
        grid-template-columns: 1fr ;
       
    }
    .attorneycontainer{
        flex-direction: column;
    }
    .attorneyinfo{
        width: 90%;
    }
    .attorneyimg{
        width: 100%;
    }
}
@media screen and (max-width:600px){
  .flexbox-item-1{
      order: 1;
      font-size: 24px;
  }
  .flexbox-item-2{
      order: 3;
      font-size: 12px;
  }
.flexbox-item-3{
order: 2;
padding:20px;
min-height: 150px;
}
.flexbox-container{
    padding: 10px;  
}
  }