/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');*/
body {
    font-family: 'Open Sans', sans-serif;
  }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;

}
/* Navigation */
li, a {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #edf0f1;
    text-decoration: none;
    background-color: #000000;
}
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 5%;
    background-color: #000000;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    background-color: #000000;
    
}
.nav__links {
    list-style: none;
    background-color: #000000;
}
.nav__links li {
    display: inline-block;
    padding: 0px 20px;
}
.nav__links li a {
    transition: all 0.3s ease 0s;
}
.nav__links li a:hover {
    color: #329DBF;
}
.search {
    display: flex;
    cursor: pointer;
    padding: 0px 20px;
    transition: all 0.3s ease 0s;
    

}
.search:hover {
    content: url('../images/TFDP\ Nav\ Elements/search_green.svg');
}

button {
    font-family: "Open Sans", sans-serif;
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    color: #edf0f1;
    text-decoration: none;
    width: 80px;
    height: 40px;
    background-color: rgba(50, 157, 191, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover {
    /*background: linear-gradient(180deg, #2F80ED 0%, #329DBF 81.77%);*/
    background-color: rgba(50, 157, 191, 0.8);
}
