
/* Footer Styles */
.footer {
    font-family: Hiragino Sans;
font-style: normal;
    background-color: black;
    font-size: 12pt;
    padding-bottom: 30px;
    list-style-type: none; 
    width: 1440px;
    height:500px;
    }
  
.left-list {
    justify-content: left;
    margin: 10px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 500px;
    font-size: 24px;
    display: inline-block;
    
  
}
.bottom-list {
    justify-content: center;
    margin: 0px;
    padding-top: 350px; 
    text-align: center;
    font-size: 12px;
    
    
}
.social-media-bar {
padding-left: 75px;
display: flex;




}

.email-line{
    justify-content: right;
    margin: 10px;
    padding-right: 100px;
    padding-bottom: 225px;
    font-size: 18px;
    display:flex;
 
}

.left-list, .bottom-list, .social-media-bar, .email-line { 
    color: white;
    

     
}
 

    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        height: 500px;
    }
   
    #left-list, bottom-list, social-media-bar, email-line {
        
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "left-list email-list "
        "bottom-list social-media-bar"
    }
  
@media only screen and (min-width:600px){
    left-list bottom-list social-media-bar email-line  {
        display: flex;
    flex-direction: row-reverse;
     

    }
}
@media only screen and (max-widith:600px){
    left-list bottom-list social-media-bar email-line {
        display: flex;
        flex-direction: column-reverse;
    
    }
}
left-list, bottom-list, social-media-bar, email-line { 
    flex-grow:1;


}




