.navBar {
    display: flex;
    height: 100px;
    background-color: blue;
    padding: 60px;
    margin: 0;
  }
  .space {
    display: flex;
    background-color: white;
    padding: 60px;
  }
  .header {
    display: flex;
    position: absolute;
    left: 200px;
    right: 800px;
    height: 100px;
    background-color: black;
    padding: 60px;
    margin: 0;
  }
  .h1{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 72pt;
    color: white;
    display: flex;
    background-color: black;
    padding-left: 700px;
  }
  .space2 {
    display: flex;
    background-color: white;
    height: 100px
  }
  .hero {
     padding-top: 180px;
     padding-bottom: 0px;
  }
  .caption {
       display: flex;
       text-justify: center;
       font-family: 'Open Sans', sans-serif;
       font-size: 36pt;
       font-weight: bold;
       height: 100px;
       width: 2500px;
       padding-top: 0px;
       padding-bottom: 300px;
       border-bottom-style: solid; 
       border-bottom-color: #F1D686;
       margin: auto;
  }

    .h2 {
        display: block;
        text-justify: center;
        font-family: 'Poppins', sans-serif;
        font-size: 48pt;
        font-weight: bold;
        width: 2000px;
        padding-top: 100px;
        margin: 10px auto;
    }
    .text2 {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-size: 36pt;
        justify-content: left;
        height: 100px;
        width: 2300px;
        padding-bottom: 160px;
        margin: auto;
    }

    .text3 {
        display: flex;
        font-family: 'Open Sans', sans-serif;
        font-size: 36pt;
        justify-content: left;
        height: 100px;
        width: 2300px;
        padding-bottom: 160px;
        margin: auto;
        padding-bottom: 400px;
        border-bottom-style: solid; 
        border-bottom-color: #F1D686;

    }

    .cardGrid {
        margin: 0px;
        display: grid;
        height:1000px;
        width: 2000px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "staff" "meeting";
    }

#lawyers {
    grid-area: staff;
    background-image: url("images/lawyers.jpg");


}

/* Footer Styles */
.footer {
    font-family: 'Open Sans', sans-serif;
 font-style: normal;
    background-color: black;
    font-size: 12pt;
    padding-bottom: 30px;
    list-style-type: none;
    width: 1440px;
    height:500px;
    }
  .left-list {
    justify-content: left;
    margin: 10px;
    padding-left: 100px;
    padding-bottom: 100px;
    width: 500px;
    font-size: 24px;
    display: inline-block;
   
  }
 .bottom-list {
    justify-content: center;
    margin: 0px;
    padding-top: 350px;
    display: grid;
    text-align: center;
    font-size: 12px;
   
   
 }
 .social-media-bar {
 padding-left: 75px;
 display: flex;
 
 
 
 
 }
 
 .email-line{
    justify-content: right;
    margin: 10px;
    padding-right: 100px;
    padding-bottom: 225px;
    font-size: 18px;
    display:flex;
 }
 
 .left-list, .bottom-list, .social-media-bar, .email-line {
    color: white;
   
 
    
 }
 
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        background: black;
        height: 500px;
        width: 1440;
    }
  
    #left-list, bottom-list, social-media-bar, email-line {
       
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas:
        "left-list email-list "
        "bottom-list social-media-bar"
    }
  @media only screen and (min-width:600px){
    left-list bottom-list social-media-bar email-line  {
        display: flex;
    flex-direction: row-reverse;
    
 
    }
 }
 @media only screen and (max-widith:600px){
    left-list bottom-list social-media-bar email-line {
        display: flex;
        flex-direction: column-reverse;
   
    }
 }
 left-list, bottom-list, social-media-bar, email-line {
    flex-grow:1;
 
 
 }
 
 
 
 
 
  
  
  
  
  
  